
        <!-- start comment -->
        <div class="d-flex justify-content-center row">
              <div class="coment-bottom bg-white p-2 px-4">
                <h2 class="blog-post-title mb-4 h4">Commentaires</h2>
                <form method="post" class="needs-validation container addComment"  novalidate>
                  <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                    <input type="text"  name="comment_content" class="form-control mr-3 " placeholder="Ajouter un commentaire" required> 
                  <button class="btn btn-dark comment" type="submit">Comment</button> 
                     
                  </div>
                  
                    <div id="alertPlaceholderComment"></div>
                </form>
             
                <div class = "all-comment" id = "all-comment">
                      {% for comment in comments %}
                    <div class="commented-section mt-2 border-bottom" data-id= {{comment.id}}>
                        <div class="d-flex flex-row align-items-center commented-user">
                            <h2 class="mr-2 me-2 h5">{{comment.userName}}</h2>
                            {% if comment.updatedAt <= comment.createdAt %}
                            <span class="mb-1  ml-2"> Crée le {{comment.createdAt|date('d/m/Y \\à H:i' ,"Europe/Paris")}} </span>
                            {% else %}
                            <span class="mb-1  ml-2"> Mis à jour le {{comment.updatedAt|date('d/m/Y \\à H:i' ,"Europe/Paris")}} </span>
                            {% endif %}
                        </div>
                        <form method="post" class="needs-validation container updateComment"  novalidate>
                        <div class="d-flex flex-row update-comment-section mt-4 mb-4 d-none" >
                        <input type="text"  name="comment_content" value="{{comment.commentContent}}" class="form-control mr-3 comment-content " placeholder="Ajouter un commentaire" required>
                        <button class="btn btn-dark btn-sm mx-2 btn-to-update" type="submit">Modifier</button>
                        <button class="btn btn-dark btn-sm btn-to-cancel" type="button">Annuler</button>
                        </div>
                        <div class="alertPlaceholderUpdateComment"></div>
                        </form>
                        <div class="comment-text-sm"><span>{{comment.commentContent}}</span></div>
                        <div class="reply-section">
                             
                            <div class="d-flex flex-row align-items-center voting-icons">
                            {% if session.user.id == comment.idUser  %}
                            
                                <a href ="#" class="ml-2 mt-1 modifycomment text-dark fw-bold mx-2">Modifier</a>
                             {% endif %}
                             {% if (session.user.id == comment.idUser ) or (session.user.is_admin == 'Admin' ) %}
                                <a href ="#" class="ml-2 mt-1 deletecomment text-dark fw-bold">Suprimer</a>
                              {% endif %}
                          
                            </div>
                           
                            
                        </div>
                    </div>
                   {% endfor %}
                  </div>         
          </div>
        <!-- end comment -->